body {
  margin: 0;
  line-height: normal;
}

.popup-overlay {
  display: flex;
  flex-direction: column;
  position: fixed;
  inset: 0;
}

:root {
  /* fonts */
  --font-roboto: Roboto;
  --font-roboto-slab: "Roboto Slab";
  --font-open-sans: "Open Sans";
  --text-lg-regular: Inter;

  /* font sizes */
  --font-size-base: 16px;
  --font-size-xl: 20px;
  --text-lg-regular-size: 18px;
  --display-xs-semibold-size: 24px;

  /* Colors */
  --color-white: #fff;
  --gray-900: #101828;
  --color-gray: #171616;
  --color-lightgray: #cacaca;
  --color-whitesmoke-100: #f4f4f4;
  --color-whitesmoke-200: #f2f2f2;
  --gray-500: #667085;

  /* Gaps */
  --gap-13xl: 32px;
  --gap-7xs: 6px;
  --gap-base: 16px;
  --gap-xl: 20px;

  /* Paddings */
  --padding-13xl: 32px;
  --padding-45xl: 64px;
  --padding-base: 16px;

  /* Border radiuses */
  --br-5xs: 8px;
  --br-31xl: 50px;
  --br-9xs: 4px;
}
