body {
  margin: 0;
  line-height: normal;
}

.popup-overlay {
  display: flex;
  flex-direction: column;
  position: fixed;
  inset: 0;
}

:root {
  /* fonts */
  --font-inter: Inter;

  /* font sizes */
  --font-size-base: 16px;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;

  /* Gaps */
  --gap-13xl: 32px;
  --gap-xl: 20px;

  /* Paddings */
  --padding-13xl: 32px;
  --padding-base: 16px;

  /* Border radiuses */
  --br-31xl: 50px;
}
