.heading {
  align-self: stretch;
  position: relative;
  line-height: 32px;
  font-weight: 600;
}
.often-typefaces-are {
  margin-block-start: 0;
  margin-block-end: 18px;
}
.unfortunately-figma-only {
  margin: 0;
}
.paragraph {
  align-self: stretch;
  position: relative;
  font-size: var(--text-lg-regular-size);
  line-height: 28px;
  color: var(--gray-500);
}
.body-padding,
.body3,
.heading-and-paragraph {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.heading-and-paragraph {
  align-items: flex-start;
  gap: var(--gap-base);
}
.body-padding,
.body3 {
  align-items: center;
}
.body-padding {
  gap: 64px;
}
.body3 {
  background-color: var(--color-white);
  overflow: hidden;
  padding: var(--padding-45xl) 256px;
}
.satoshis-quest3 {
  position: relative;
  line-height: 15px;
  font-weight: 600;
}
.playsatoshisquest6 {
  height: 15px;
  position: relative;
  font-size: var(--font-size-base);
  line-height: 15px;
  font-family: var(--font-roboto);
  color: var(--color-lightgray);
  display: inline-block;
}
.satoshis-quest-parent1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-7xs);
}
.bottom-menu-inner1 {
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.vector-icon3 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.icon-discord3 {
  text-decoration: none;
  width: 21.7px;
  position: relative;
  height: 24px;
}
.icon-instagram3 {
  width: 24px;
  position: relative;
  height: 24px;
}
.icon-facebook3,
.icon-twitter3 {
  width: 24.1px;
  position: relative;
  height: 24px;
}
.icon-twitter3 {
  width: 29.5px;
}
.navigation6 {
  margin: 0;
  height: 40px;
  flex-direction: row;
  justify-content: flex-end;
  gap: var(--gap-13xl);
}
.bottom-menu3,
.guides3,
.navigation6 {
  display: flex;
  align-items: center;
}
.bottom-menu3 {
  margin: 0;
  align-self: stretch;
  background-color: var(--color-gray);
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-13xl);
  text-align: right;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-roboto-slab);
}
.guides3 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--display-xs-semibold-size);
  color: var(--gray-900);
  font-family: var(--text-lg-regular);
}
@media screen and (max-width: 1200px) {
  .bottom-menu3 {
    padding-left: var(--padding-45xl);
    padding-right: var(--padding-45xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 960px) {
  .body3 {
    padding-left: var(--padding-13xl);
    padding-top: var(--padding-13xl);
    padding-right: var(--padding-13xl);
    box-sizing: border-box;
  }
  .playsatoshisquest6,
  .satoshis-quest3 {
    display: flex;
  }
  .bottom-menu3 {
    padding-left: var(--padding-13xl);
    padding-right: var(--padding-13xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 420px) {
  .body3 {
    padding-left: var(--padding-base);
    padding-top: var(--padding-13xl);
    padding-right: var(--padding-base);
    box-sizing: border-box;
  }
  .playsatoshisquest6,
  .satoshis-quest3 {
    display: flex;
  }
  .bottom-menu-inner1 {
    display: none;
  }
  .navigation6 {
    display: flex;
  }
  .bottom-menu3 {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-left: var(--padding-base);
    padding-right: var(--padding-base);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 350px) {
  .body3 {
    padding-left: var(--padding-base);
    padding-top: var(--padding-13xl);
    padding-right: var(--padding-base);
    box-sizing: border-box;
  }
}
