@keyframes pulsate {
  0% {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}
@keyframes slide-in-right {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.mask-group-15 {
  width: 24px;
  position: relative;
  border-radius: var(--br-9xs);
  height: 24px;
  object-fit: cover;
  cursor: pointer;
}
.playsatoshisquest10 {
  position: relative;
  line-height: 15px;
}
.mask-group-1-parent3 {
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.hamburger-menu-v5-child12,
.hamburger-menu-v5-child13 {
  width: 31.8px;
  position: relative;
  border-radius: var(--br-31xl);
  height: 4.2px;
}
.hamburger-menu-v5-child13 {
  height: 3.6px;
}
.hamburger-menu-v55 {
  height: 24px;
  display: none;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}
.hamburger-menu-v55:active {
  cursor: auto;
  animation: 1s ease-out 0s 1 normal none pulsate;
  opacity: 1;
}
.map5 {
  position: relative;
  line-height: 15px;
  cursor: pointer;
}
.desktop-menu5,
.navigation10,
.top-menu5 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.desktop-menu5 {
  justify-content: flex-end;
  gap: var(--gap-xl);
}
.navigation10,
.top-menu5 {
  margin: 0;
  text-align: right;
  color: var(--color-white);
}
.navigation10 {
  height: 40px;
  width: 317px;
  justify-content: flex-end;
  font-size: var(--font-size-xl);
  font-family: var(--font-open-sans);
}
.top-menu5 {
  align-self: stretch;
  background-color: var(--color-gray);
  justify-content: space-between;
  padding: var(--padding-base) var(--padding-13xl);
  font-size: var(--text-lg-regular-size);
  font-family: var(--font-roboto-slab);
}
.heading {
  align-self: stretch;
  position: relative;
  line-height: 32px;
  font-weight: 600;
}
.often-typefaces-are {
  margin-block-start: 0;
  margin-block-end: 18px;
}
.unfortunately-figma-only {
  margin: 0;
}
.paragraph {
  align-self: stretch;
  position: relative;
  font-size: var(--text-lg-regular-size);
  line-height: 28px;
  color: var(--gray-500);
}
.body-padding,
.body5,
.heading-and-paragraph {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.heading-and-paragraph {
  align-items: flex-start;
  gap: var(--gap-base);
}
.body-padding,
.body5 {
  align-items: center;
}
.body-padding {
  gap: 64px;
}
.body5 {
  background-color: var(--color-white);
  overflow: hidden;
  padding: var(--padding-45xl) 256px;
}
.satoshis-quest5 {
  position: relative;
  line-height: 15px;
  font-weight: 600;
}
.playsatoshisquest11 {
  height: 15px;
  position: relative;
  font-size: var(--font-size-base);
  line-height: 15px;
  font-family: var(--font-roboto);
  color: var(--color-lightgray);
  display: inline-block;
}
.satoshis-quest-parent3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-7xs);
}
.bottom-menu-inner3 {
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.vector-icon5 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.icon-discord5 {
  text-decoration: none;
  width: 21.7px;
  position: relative;
  height: 24px;
}
.icon-instagram5 {
  width: 24px;
  position: relative;
  height: 24px;
}
.icon-facebook5,
.icon-twitter5 {
  width: 24.1px;
  position: relative;
  height: 24px;
}
.icon-twitter5 {
  width: 29.5px;
}
.navigation11 {
  margin: 0;
  height: 40px;
  flex-direction: row;
  justify-content: flex-end;
  gap: var(--gap-13xl);
}
.bottom-menu5,
.guides5,
.navigation11 {
  display: flex;
  align-items: center;
}
.bottom-menu5 {
  margin: 0;
  align-self: stretch;
  background-color: var(--color-gray);
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-13xl);
  text-align: right;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-roboto-slab);
}
.guides5 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--display-xs-semibold-size);
  color: var(--gray-900);
  font-family: var(--text-lg-regular);
}
@media screen and (max-width: 1200px) {
  .navigation10 {
    display: flex;
  }
  .bottom-menu5,
  .top-menu5 {
    padding-left: var(--padding-45xl);
    padding-right: var(--padding-45xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 960px) {
  .hamburger-menu-v55,
  .playsatoshisquest10 {
    display: flex;
  }
  .desktop-menu5,
  .navigation10 {
    display: none;
  }
  .body5,
  .top-menu5 {
    padding-left: var(--padding-13xl);
    padding-right: var(--padding-13xl);
    box-sizing: border-box;
  }
  .body5 {
    padding-top: var(--padding-13xl);
  }
  .playsatoshisquest11,
  .satoshis-quest5 {
    display: flex;
  }
  .bottom-menu5 {
    padding-left: var(--padding-13xl);
    padding-right: var(--padding-13xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 420px) {
  .desktop-menu5,
  .playsatoshisquest10 {
    display: none;
  }
  .hamburger-menu-v55:active {
    animation: 1s ease-in 0s 1 normal none pulsate;
    opacity: 1;
  }
  @keyframes pulsate {
    0% {
      transform: scale(1);
      transform-origin: center center;
      animation-timing-function: ease-out;
    }
    10% {
      transform: scale(0.91);
      animation-timing-function: ease-in;
    }
    17% {
      transform: scale(0.98);
      animation-timing-function: ease-out;
    }
    33% {
      transform: scale(0.87);
      animation-timing-function: ease-in;
    }
    45% {
      transform: scale(1);
      animation-timing-function: ease-out;
    }
  }
  .body5,
  .top-menu5 {
    padding-left: var(--padding-base);
    padding-right: var(--padding-base);
    box-sizing: border-box;
  }
  .body5 {
    padding-top: var(--padding-13xl);
  }
  .playsatoshisquest11,
  .satoshis-quest5 {
    display: flex;
  }
  .bottom-menu-inner3 {
    display: none;
  }
  .navigation11 {
    display: flex;
  }
  .bottom-menu5 {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-left: var(--padding-base);
    padding-right: var(--padding-base);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 350px) {
  .body5 {
    padding-left: var(--padding-base);
    padding-top: var(--padding-13xl);
    padding-right: var(--padding-base);
    box-sizing: border-box;
  }
}
.close-icon-child {
  width: 24px;
  position: relative;
  height: 24px;
  cursor: pointer;
}
.close-icon-child:active {
  animation: 1s ease 0s 1 normal none pulsate;
  opacity: 1;
}
.close-icon {
  width: 31.8px;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.map6 {
  position: relative;
  line-height: 15px;
  cursor: pointer;
}
.mobile-menu,
.navigation12 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
}
.navigation12 {
  margin: 0;
  width: 144px;
  align-items: flex-start;
  padding: var(--padding-base) 0 0;
  gap: 24px;
  text-align: right;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-open-sans);
}
.mobile-menu {
  width: 200px;
  position: relative;
  background-color: rgba(0, 0, 0, 0.85);
  align-items: flex-end;
  padding: var(--padding-base) var(--padding-13xl);
  gap: 10px;
  opacity: 0;
  height: 100%;
  max-width: 90%;
  overflow: auto;
}
.mobile-menu.animate {
  animation: 0.25s ease 0s 1 normal forwards slide-in-right;
}
@media screen and (max-width: 420px) {
  .close-icon-child:active {
    animation: 1s ease-in 0s 1 normal none pulsate;
    opacity: 1;
  }
  @keyframes pulsate {
    0% {
      transform: scale(1);
      transform-origin: center center;
      animation-timing-function: ease-out;
    }
    10% {
      transform: scale(0.91);
      animation-timing-function: ease-in;
    }
    17% {
      transform: scale(0.98);
      animation-timing-function: ease-out;
    }
    33% {
      transform: scale(0.87);
      animation-timing-function: ease-in;
    }
    45% {
      transform: scale(1);
      animation-timing-function: ease-out;
    }
  }
  .mobile-menu {
    padding-right: var(--padding-base);
    box-sizing: border-box;
  }
}
