.bg-final-camera-1-icon {
  position: absolute;
  top: -1673px;
  left: -3px;
  width: 1459px;
  height: 3318px;
  object-fit: cover;
}
.menu-child {
  position: absolute;
  top: 119px;
  left: -1px;
  border-top: 2px solid rgba(255, 255, 255, 0.15);
  box-sizing: border-box;
  width: 1442px;
  height: 2px;
}
.menu-item {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(22, 22, 22, 0.5);
  width: 1440px;
  height: 118px;
}
.span {
  color: rgba(255, 255, 255, 0.59);
}
.download {
  color: var(--color-white);
}
.home-download-admin-container {
  position: absolute;
  top: 48px;
  left: calc(50% + 57px);
  text-transform: uppercase;
  white-space: pre-wrap;
}
.connect-at-,
.mc-project {
  position: absolute;
  font-weight: 800;
}
.mc-project {
  top: 44px;
  left: 185px;
  font-size: var(--font-size-5xl);
  text-transform: uppercase;
  color: var(--color-white);
}
.connect-at- {
  top: 54px;
  left: 364px;
  font-size: 11px;
  color: rgba(255, 255, 255, 0.7);
}
.footer-child,
.menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
}
.menu {
  height: 120px;
  color: #0a0;
}
.footer-child {
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.7);
  height: 362px;
  mix-blend-mode: normal;
}
.phasellus-faucibus-molestie {
  margin: 0;
}
.phasellus-faucibus-molestie-container {
  position: absolute;
  top: 115px;
  left: 243px;
  font-size: 15px;
  display: inline-block;
  width: 334px;
  height: 178px;
}
.company-slogan,
.your-company {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 0.28em;
  text-transform: uppercase;
}
.company-slogan {
  top: 25px;
  font-size: var(--font-size-sm);
  letter-spacing: 0.14em;
}
.logo-text-footer {
  position: absolute;
  top: 57px;
  left: 243px;
  width: 223px;
  height: 43px;
  font-size: var(--font-size-xl);
}
.aydmcy-1-icon {
  position: absolute;
  top: 293px;
  left: 243px;
  width: 263px;
  height: 32px;
  object-fit: cover;
}
.footer-item {
  position: absolute;
  top: -35px;
  left: 9px;
  border-radius: 5px;
  background-color: rgba(217, 217, 217, 0.7);
  width: 1455px;
  height: 2px;
  display: none;
}
.about-us-graphic-container {
  position: absolute;
  top: 47px;
  left: 18px;
  line-height: 30px;
  font-weight: 500;
  white-space: pre-wrap;
}
.ellipse-div,
.useful-links-child,
.useful-links-child1,
.useful-links-child2,
.useful-links-inner,
.useful-links-item {
  position: absolute;
  top: 91px;
  left: 3px;
  border-radius: 50%;
  background-color: var(--color-darkgreen);
  width: 6px;
  height: 6px;
}
.ellipse-div,
.useful-links-child1,
.useful-links-child2,
.useful-links-inner,
.useful-links-item {
  top: 61px;
}
.ellipse-div,
.useful-links-child1,
.useful-links-child2,
.useful-links-inner {
  top: 121px;
}
.ellipse-div,
.useful-links-child1,
.useful-links-child2 {
  top: 151px;
}
.useful-links-child1,
.useful-links-child2 {
  top: 181px;
}
.useful-links-child2 {
  top: 211px;
}
.useful-links1 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--font-size-13xl);
  font-weight: 500;
}
.useful-links,
.useful-links2 {
  position: absolute;
  top: 54px;
  left: 718px;
  width: 158px;
  height: 227px;
}
.useful-links2 {
  left: 995px;
}
.mojang-studios-is {
  position: absolute;
  top: 307px;
  left: 645px;
  font-size: var(--font-size-sm);
  font-weight: 500;
  color: var(--color-gray-400);
}
.footer {
  top: 1142px;
  left: 0;
  width: 1440px;
  height: 362px;
}
.child,
.footer,
.item {
  position: absolute;
}
.child {
  top: 35px;
  left: 0;
  border: 6px solid var(--color-darkslategray);
  box-sizing: border-box;
  width: 300px;
  height: 350px;
}
.item {
  top: 41px;
  left: 6px;
  background-color: var(--color-gray-200);
  width: 288px;
  height: 338px;
}
.high-quality {
  top: 86px;
  left: 32px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
.div1,
.high-quality,
.inner {
  position: absolute;
}
.inner {
  top: 0;
  left: 0;
  border-radius: var(--br-xl) 0 0 0;
  background-color: var(--color-gray-100);
  width: 56px;
  height: 35px;
}
.div1 {
  top: 5px;
  left: 17px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-weight: 900;
  text-align: center;
}
.praesent-dapibus-maecenas-container {
  position: absolute;
  top: 120px;
  left: 32px;
  font-size: var(--font-size-sm);
  letter-spacing: 0.05em;
  color: var(--color-gray-300);
  display: inline-block;
  width: 236px;
  height: 234px;
}
.div {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 385px;
}
.big-community,
.div3 {
  position: absolute;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
.big-community {
  top: 76px;
  left: 32px;
  display: inline-block;
  width: 175px;
  height: 28px;
}
.div3 {
  top: 5px;
  left: 15px;
  font-weight: 900;
  text-align: center;
}
.praesent-dapibus-maecenas-container1 {
  position: absolute;
  top: 110px;
  left: 32px;
  font-size: var(--font-size-sm);
  letter-spacing: 0.05em;
  color: var(--color-gray-300);
  display: inline-block;
  width: 236px;
  height: 234px;
}
.div2 {
  top: 0;
  left: 383px;
  width: 300px;
  height: 385px;
}
.child3,
.child4,
.div2 {
  position: absolute;
}
.child3 {
  top: 35px;
  left: 0;
  border: 6px solid var(--color-darkslategray);
  box-sizing: border-box;
  width: 302px;
  height: 350px;
}
.child4 {
  top: 41px;
  left: 6px;
  background-color: var(--color-gray-200);
  width: 289.9px;
  height: 338px;
}
.support {
  position: absolute;
  top: 76px;
  left: 32.2px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
.child5 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xl) 0 0 0;
  background-color: var(--color-gray-100);
  width: 56.4px;
  height: 35px;
}
.div5,
.praesent-dapibus-maecenas2 {
  position: absolute;
  letter-spacing: 0.05em;
  display: inline-block;
}
.div5 {
  top: 5px;
  left: 15.1px;
  text-transform: uppercase;
  font-weight: 900;
  text-align: center;
  width: 27.2px;
}
.praesent-dapibus-maecenas2 {
  top: 110px;
  left: 32.2px;
  font-size: var(--font-size-sm);
  color: var(--color-gray-300);
  width: 237.6px;
  height: 234px;
}
.div4,
.why-us {
  position: absolute;
  top: 0;
  left: 766px;
  width: 302px;
  height: 385px;
}
.why-us {
  top: 691px;
  left: 185px;
  width: 1068px;
  font-size: var(--font-size-xl);
}
.mask-group-icon,
.slider-child {
  position: absolute;
  left: 0;
  width: 1070px;
}
.mask-group-icon {
  top: 0;
  height: 461px;
  object-fit: cover;
}
.slider-child {
  top: 461px;
  background: linear-gradient(
    180deg,
    #000,
    rgba(0, 0, 0, 0.9) 48.44%,
    transparent
  );
  height: 150px;
}
.class-aptent-taciti,
.nunc-auctor-nulla {
  position: absolute;
  top: 385px;
  left: 24px;
}
.class-aptent-taciti {
  top: 416px;
  font-size: 13px;
  text-transform: capitalize;
  color: var(--color-gray-400);
  text-align: left;
  display: inline-block;
  width: 925px;
  height: 40px;
}
.slider-left-icon {
  position: absolute;
  top: 328.3px;
  left: 1001px;
  width: 20px;
  height: 116.7px;
  object-fit: contain;
}
.slider-right-child {
  position: absolute;
  top: 96.7px;
  left: 0;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.25);
  width: 20px;
  height: 20px;
}
.vector-icon {
  position: absolute;
  height: 4.71%;
  width: 25%;
  top: 0;
  right: 40%;
  bottom: 95.29%;
  left: 35%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.slider,
.slider-right {
  position: absolute;
  top: 328.3px;
  left: 1026px;
  width: 20px;
  height: 116.7px;
}
.slider {
  top: 165px;
  left: 185px;
  width: 1070px;
  height: 461px;
  text-align: center;
  font-size: var(--font-size-5xl);
}
.home {
  width: 100%;
  position: relative;
  background-color: #000;
  height: 1504px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-outfit);
}
