@keyframes pulsate {
  0% {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}
@keyframes slide-in-right {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.mask-group-1 {
  width: 24px;
  position: relative;
  border-radius: 4px;
  height: 24px;
  object-fit: cover;
  cursor: pointer;
}
.playsatoshisquest {
  position: relative;
  line-height: 15px;
}
.mask-group-1-parent {
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
}
.hamburger-menu-v5-icon {
  height: 24px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  display: none;
}
.hamburger-menu-v5-icon:active {
  cursor: auto;
  animation: 1s ease-out 0s 1 normal none pulsate;
  opacity: 1;
}
.map {
  position: relative;
  line-height: 15px;
}
.desktop-menu,
.navigation,
.top-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.desktop-menu {
  justify-content: flex-end;
  gap: 20px;
}
.navigation,
.top-menu {
  margin: 0;
  text-align: right;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.navigation {
  height: 40px;
  width: 317px;
  justify-content: flex-end;
  font-family: var(--font-roboto);
}
.top-menu {
  align-self: stretch;
  background-color: var(--color-gray);
  justify-content: space-between;
  padding: var(--padding-base) var(--padding-13xl);
  font-family: var(--font-roboto-slab);
}
.connect-play {
  align-self: stretch;
  position: relative;
  line-height: 32px;
  text-transform: uppercase;
  font-weight: 600;
}
.open-your-minecraft {
  font-weight: 300;
}
.span {
  font-family: var(--font-roboto);
}
.playsatoshisquest1 {
  font-weight: 500;
  color: var(--color-white);
}
.open-your-minecraft-container {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-base);
  line-height: 24px;
  color: #f2f2f2;
  font-family: var(--font-roboto);
}
.connect-play-parent {
  align-self: stretch;
  border-radius: var(--br-5xs);
  background-color: rgba(6, 142, 53, 0.7);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-base);
  gap: var(--gap-3xs);
}
.picture-icon {
  width: 883px;
  position: relative;
  height: 497px;
  object-fit: cover;
}
.picture-wrapper {
  align-self: stretch;
  border-radius: var(--br-5xs);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.wimmer-loves-alex {
  position: relative;
  line-height: 24px;
  font-weight: 600;
}
.wimmer-loves-alex-ramey-gaming-wrapper {
  align-self: stretch;
  background-color: #ffefef;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-base);
  text-align: left;
  font-size: 20px;
  color: #393939;
  font-family: var(--font-inter);
}
.body {
  align-self: stretch;
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-13xl) var(--padding-45xl);
  gap: var(--gap-13xl);
}
.satoshis-quest {
  position: relative;
  line-height: 15px;
  font-weight: 600;
}
.playsatoshisquest2 {
  height: 15px;
  position: relative;
  font-size: 12px;
  line-height: 15px;
  font-family: var(--font-roboto);
  color: #cacaca;
  display: inline-block;
}
.satoshis-quest-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.bottom-menu-inner {
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.icon-discord {
  width: 21.7px;
  position: relative;
  height: 24px;
}
.icon-facebook,
.icon-instagram,
.icon-twitter {
  width: 24px;
  position: relative;
  height: 24px;
}
.icon-facebook,
.icon-twitter {
  width: 24.1px;
}
.icon-twitter {
  width: 29.5px;
}
.navigation1 {
  margin: 0;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-13xl);
}
.bottom-menu,
.home {
  display: flex;
  align-items: center;
  color: var(--color-white);
  font-family: var(--font-roboto-slab);
}
.bottom-menu {
  margin: 0;
  align-self: stretch;
  background-color: var(--color-gray);
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-13xl);
  text-align: right;
  font-size: var(--font-size-base);
}
.home {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  font-size: 24px;
}
@media screen and (max-width: 1200px) {
  .navigation {
    display: flex;
  }
  .bottom-menu,
  .top-menu {
    padding-left: var(--padding-45xl);
    padding-right: var(--padding-45xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 960px) {
  .hamburger-menu-v5-icon,
  .playsatoshisquest {
    display: flex;
  }
  .desktop-menu,
  .navigation {
    display: none;
  }
  .body,
  .top-menu {
    padding-left: var(--padding-13xl);
    padding-right: var(--padding-13xl);
    box-sizing: border-box;
  }
  .body {
    padding-top: var(--padding-13xl);
  }
  .playsatoshisquest2,
  .satoshis-quest {
    display: flex;
  }
  .bottom-menu {
    padding-left: var(--padding-13xl);
    padding-right: var(--padding-13xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 420px) {
  .desktop-menu,
  .playsatoshisquest {
    display: none;
  }
  .hamburger-menu-v5-icon:active {
    animation: 1s ease-in 0s 1 normal none pulsate;
    opacity: 1;
  }
  @keyframes pulsate {
    0% {
      transform: scale(1);
      transform-origin: center center;
      animation-timing-function: ease-out;
    }
    10% {
      transform: scale(0.91);
      animation-timing-function: ease-in;
    }
    17% {
      transform: scale(0.98);
      animation-timing-function: ease-out;
    }
    33% {
      transform: scale(0.87);
      animation-timing-function: ease-in;
    }
    45% {
      transform: scale(1);
      animation-timing-function: ease-out;
    }
  }
  .body,
  .top-menu {
    padding-left: var(--padding-base);
    padding-right: var(--padding-base);
    box-sizing: border-box;
  }
  .body {
    padding-top: var(--padding-13xl);
  }
  .navigation1,
  .playsatoshisquest2,
  .satoshis-quest {
    display: flex;
  }
  .bottom-menu {
    padding-left: var(--padding-base);
    padding-right: var(--padding-base);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 350px) {
  .body {
    padding-left: var(--padding-base);
    padding-top: var(--padding-13xl);
    padding-right: var(--padding-base);
    box-sizing: border-box;
  }
}
.close-icon-child {
  width: 24px;
  position: relative;
  height: 24px;
  cursor: pointer;
}
.close-icon-child:active {
  animation: 1s ease 0s 1 normal none pulsate;
  opacity: 1;
}
.close-icon {
  width: 31.8px;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.guides1 {
  position: relative;
  line-height: 15px;
  font-weight: 600;
}
.mobile-menu,
.navigation2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
}
.navigation2 {
  margin: 0;
  width: 144px;
  align-items: flex-start;
  padding: var(--padding-base) 0 0;
  gap: 24px;
  text-align: right;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.mobile-menu {
  width: 200px;
  position: relative;
  background-color: var(--color-white);
  align-items: flex-end;
  padding: var(--padding-base) var(--padding-13xl);
  gap: var(--gap-3xs);
  opacity: 0;
  height: 100%;
  max-width: 90%;
  overflow: auto;
}
.mobile-menu.animate {
  animation: 0.25s ease 0s 1 normal forwards slide-in-right;
}
@media screen and (max-width: 420px) {
  .close-icon-child:active {
    animation: 1s ease-in 0s 1 normal none pulsate;
    opacity: 1;
  }
  @keyframes pulsate {
    0% {
      transform: scale(1);
      transform-origin: center center;
      animation-timing-function: ease-out;
    }
    10% {
      transform: scale(0.91);
      animation-timing-function: ease-in;
    }
    17% {
      transform: scale(0.98);
      animation-timing-function: ease-out;
    }
    33% {
      transform: scale(0.87);
      animation-timing-function: ease-in;
    }
    45% {
      transform: scale(1);
      animation-timing-function: ease-out;
    }
  }
  .mobile-menu {
    padding-right: var(--padding-base);
    box-sizing: border-box;
  }
}
