.mask-group-1 {
  width: 20px;
  position: relative;
  height: 20px;
  object-fit: cover;
}
.playsatoshisquest {
  position: relative;
  line-height: 15px;
}
.mask-group-1-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
}
.hamburger-menu-icon {
  height: 16px;
  width: 16px;
  position: relative;
  display: none;
}
.donate,
.forums,
.guides,
.map,
.stats {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 15px;
}
.donate,
.forums,
.map,
.stats {
  left: 73px;
}
.donate,
.map,
.stats {
  left: 149px;
}
.donate,
.map {
  left: 209px;
}
.donate {
  left: 262px;
}
.desktop-menu {
  width: 317px;
  position: relative;
  height: 15px;
}
.navigation,
.top-menu {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: right;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-inter);
}
.navigation {
  width: 317px;
  height: 15px;
  justify-content: flex-end;
  gap: 20px;
}
.top-menu {
  align-self: stretch;
  background-color: #171616;
  justify-content: space-between;
  padding: 16px 20px;
}
.picture-icon {
  width: 883px;
  position: relative;
  height: 497px;
  object-fit: cover;
}
.body,
.home,
.picture-wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.picture-wrapper {
  align-self: stretch;
  justify-content: center;
}
.body,
.home {
  background-color: var(--color-white);
  justify-content: flex-start;
}
.body {
  align-self: stretch;
  padding: 32px;
  gap: 32px;
}
.home {
  width: 100%;
  position: relative;
}
@media screen and (max-width: 1200px) {
  .hamburger-menu-icon {
    display: none;
  }
}
@media screen and (max-width: 960px) {
  .hamburger-menu-icon {
    display: flex;
  }
  .desktop-menu {
    display: none;
  }
}
@media screen and (max-width: 420px) {
  .hamburger-menu-icon {
    display: flex;
  }
  .desktop-menu {
    display: none;
  }
}
