@keyframes pulsate {
  0% {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}
@keyframes slide-in-right {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.close-icon-child {
  width: 24px;
  position: relative;
  height: 24px;
  cursor: pointer;
}
.close-icon-child:active {
  animation: 1s ease 0s 1 normal none pulsate;
  opacity: 1;
}
.close-icon {
  width: 31.8px;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.guides7 {
  position: relative;
  line-height: 15px;
  font-weight: 600;
  cursor: pointer;
}
.mobile-menu,
.navigation12 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
}
.navigation12 {
  margin: 0;
  width: 144px;
  align-items: flex-start;
  padding: var(--padding-base) 0 0;
  gap: 24px;
  text-align: right;
  font-size: var(--text-lg-regular-size);
  color: var(--color-white);
  font-family: var(--font-open-sans);
}
.mobile-menu {
  width: 200px;
  position: relative;
  background-color: rgba(0, 0, 0, 0.85);
  align-items: flex-end;
  padding: var(--padding-base) var(--padding-13xl);
  gap: 10px;
  opacity: 0;
  height: 100%;
  max-width: 90%;
  overflow: auto;
}
.mobile-menu.animate {
  animation: 0.25s ease 0s 1 normal forwards slide-in-right;
}
@media screen and (max-width: 420px) {
  .close-icon-child:active {
    animation: 1s ease-in 0s 1 normal none pulsate;
    opacity: 1;
  }
  @keyframes pulsate {
    0% {
      transform: scale(1);
      transform-origin: center center;
      animation-timing-function: ease-out;
    }
    10% {
      transform: scale(0.91);
      animation-timing-function: ease-in;
    }
    17% {
      transform: scale(0.98);
      animation-timing-function: ease-out;
    }
    33% {
      transform: scale(0.87);
      animation-timing-function: ease-in;
    }
    45% {
      transform: scale(1);
      animation-timing-function: ease-out;
    }
  }
  .mobile-menu {
    padding-right: var(--padding-base);
    box-sizing: border-box;
  }
}
